/* file app.css */

.nav-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.nav-link {
  font-size: 1.7rem;
  /* Erhöht die Schriftgröße. Sie können den Wert anpassen, wie Sie möchten. */
}

.flex-grow-1 {
  flex-grow: 1;
}


/* Required to show Button on 1 line  */
#changeNameButton {
  min-width: 15ch; 
}

.big-round-button {
  width: 200px;   /* Oder eine andere gewünschte Größe */
  height: 200px;  /* Sollte der gleiche Wert wie width sein, um den Button rund zu machen */
  font-size: 24px; /* Schriftgröße anpassen */
  display: flex;
  align-items: center;
  justify-content: center;
}






